body
{
    background-color: 222222;
}
.main 
{
    width: 95vw;
    height: 95vh;
    position: relative;
}
.graph 
{
    background: #f5f5f5;    
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}