@font-face 
{
    font-family: FOND;
    src: url(undertale_font.ttf);
}
.label
{
    font-family: FOND;
    color: #e6c7a5;
    text-align: center;
}
body
{
    background-color: 222222;
}
.main 
{
    width: 95vw;
    height: 95vh;
    position: relative;
}
.actualGraph 
{
    background: #f5f5f5;    
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.expectedGraph 
{
    background: #f5f5f5;    
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}